{% extends 'base.html' %}

{% block app_content %}

<div class="tables-container">
    <a class="btn btn-warning home" href="{{ url_for('index') }}">Home</a>

     <a class="btn btn-info refresh" href="javascript:void(0)" onclick="refreshContent()">Refresh</a>

    <div class="counter" id="counter"> {{game.counter}} </div>


    <table class="word table1" id="life-periodic-table">
        <caption class="caption">Life on a torus</caption>

        {% for i in range(game.height) %}
        <tr>
        {% for j in range(game.width) %}
            {% if game.world[i][j] %}
                <td class="cell living-cell"></td>
            {% elif game.world[i][j]==0 and game.old_world[i][j] !=0%}
                <td class="cell dead-cell"></td>
            {% else %}
                <td class="cell"></td>
            {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
</table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function refreshContent() {
        $.ajax({
            type: 'GET',
            url: '{{ url_for('live_periodic') }}',
            success: function(response) {
                // Update the content of the table without reloading the page
                $('#life-periodic-table').html($(response).find('#life-periodic-table').html());

                $('#counter').html($(response).find('#counter').html());
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }
    setInterval(refreshContent, 200);
</script>
{% endblock %}